
<div class="raw"><div class="col-md-12" id="menu">
<ul>
	<li><img src="{{ asset('img/black-back-closed-envelope-shape.png') }}" width="40" height="40"/></li>
	<li><img src="{{ asset('img/settings.png') }}" width="40" height="40"/></li>
	<li><img src="{{ asset('img/notifications-button.png') }}" width="40" height="40"/></li>
	<li><img src="{{ asset('img/man-user.png') }}" width="40" height="40"/></li>
	<li><img src="{{ asset('img/home-icon-silhouette.png') }}" width="40" height="40"/></li>  
</ul>
</div>
</div>


