{% extends 'base.html.twig' %}
{% block title %}{{ conv_title }}{% endblock %}
{% block body %}
<div class="raw" id="invite_container">
	{{ form_start(form) }}
	{{ form_rest(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	
	<input type="text" name="Rechercher">
	<input type="button" id="form-submit" value="Send message"/>
</div>


<a>{# user_psedo #} </a>
{% endblock %}